.filter-container {
  background: white;
  box-shadow: -1px 3px 5px -1px rgba(0, 0, 0, 0.31);
  position: absolute;
  z-index: 20;
  left: 91px;
  top: 25px;
  display: flex;
  flex-direction: column; }
  .filter-container input {
    border: none;
    padding: 15px;
    color: #797979;
    font-weight: 400;
    font-family: 'Roboto';
    letter-spacing: 1.25px;
    font-size: 14px;
    background: white;
    width: 300px;
    border-radius: 5px;
    border: 2px solid #0072bc; }
    .filter-container input::placeholder {
      color: #797979;
      font-weight: 400;
      font-family: 'Roboto';
      letter-spacing: 1.25px;
      font-size: 14px; }
  .filter-container p {
    color: #797979;
    font-weight: 400;
    font-family: 'Roboto';
    letter-spacing: 1.25px;
    font-size: 11px;
    padding: 10px;
    border-top: 1px solid #d0d8da;
    margin: 0;
    background: #f4f0d3;
    line-height: 20px;
    border-radius: 5px; }
