/* Just use .gm-style-iw */
.gm-style-iw {
  width: 250px !important;
  text-align: left; }
  @media screen and (min-width: 768px) {
    .gm-style-iw {
      width: 300px !important; } }
  .gm-style-iw .info-content {
    max-width: 100%; }
    .gm-style-iw .info-content h2 {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1.25px;
      font-weight: 600;
      color: #dab44e; }
    .gm-style-iw .info-content p {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1.25px;
      font-weight: 500;
      color: #797979; }
      .gm-style-iw .info-content p span {
        text-transform: capitalize;
        font-weight: 400; }
