@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700')
}

.list {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            font-family: 'Roboto', sans-serif;
            padding: 15px 10px;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;
            font-size: 14px;
            border-bottom: 2px solid #d0d8da;
            text-align: center;
        }
    }
}