@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700"); }

* {
  font-family: 'Roboto', sans-serif; }

.list-container {
  overflow-y: scroll;
  background: white;
  position: absolute;
  width: 240px;
  height: 100%;
  z-index: 0; }
  .list-container .heading {
    padding: 20px 10px 10px;
    background: #fecf004d;
    text-align: center; }
    .list-container .heading h2 {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px; }
    .list-container .heading p {
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 17px; }
  .list-container .response {
    padding: 20px;
    font-weight: 600;
    letter-spacing: 1.25px;
    text-align: center; }
  .list-container .list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .list-container .list li {
      padding: 15px 10px;
      font-weight: 600;
      letter-spacing: 2px;
      font-size: 14px;
      border-bottom: 2px solid #d0d8da;
      text-align: center; }
      .list-container .list li:hover {
        color: white;
        background: #0072bc; }
