.App {
  height: 100vh; }

.wrapper {
  display: flex;
  min-height: 100%; }

body {
  overflow: hidden; }

.logo-wrapper {
  background: #f1c609;
  border-radius: 50%;
  position: relative;
  width: 55px;
  height: 55px;
  padding: 15px;
  position: absolute;
  top: 15px;
  left: 10px;
  z-index: 2;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26);
  cursor: pointer;
  border: none; }
  .logo-wrapper img {
    height: auto;
    width: 100%; }

article {
  flex: 1;
  background: #eee;
  box-shadow: 0 0 5px black;
  transform: translate3d(0, 0, 0);
  transition: transform .4s;
  z-index: 2; }
  article .gmnoprint {
    display: none; }
  article.open {
    transform: translate3d(250px, 0, 0); }
    @media screen and (min-width: 768px) {
      article.open {
        transform: translate3d(300px, 0, 0); } }

.map-container {
  height: 100%; }
