.App {
  height: 100vh;
}

.wrapper {
  display: flex;
  min-height: 100%;
}

body {
  overflow: hidden;
}

.logo-wrapper {
  background: #fecf00;
  border-radius: 50%;
  position: relative;
  width: 35px;
  height: 35px;
  padding: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.26);
  cursor: pointer;
  img {
    height: auto;
    width: 100%;
  }
}

.map {
  flex: 1;
  background: #eee;
  box-shadow: 0 0 5px rgba(0,0,0,1);
  transform: translate3d(0,0,0);
  transition: transform .4s;
  z-index: 2;
  .gmnoprint {
    display: none;
  }
  &.open {
    transform: translate3d(220px, 0, 0);
  }
}

.list {
  background: #ffffff;
  position: absolute;
  width: 220px;
  height: 100%;
  z-index: 0;
}

