.App {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  overflow: hidden; }

header {
  height: 60px;
  display: flex;
  align-items: center; }

.body-container {
  display: flex;
  flex: 1; }

.map {
  flex: 1; }

.list {
  background: gold;
  position: absolute;
  width: 220px;
  height: 100%;
  z-index: -1; }

@media all and (min-width: 800px) {
  .list {
    order: 1; }
  .map {
    order: 2; } }
